In [1]:
import pandas as pd
from typefunction import categoricalOrdinal

### Download csv

In [2]:
diamonds_test = pd.read_csv('Input/diamonds_test.csv')

## Check data

We start checking the dateset, exploring data is one of our goals in this project because the price of every diamound can change complitely just for a small thing, we have  Unnamed: 0 (which looks like the index column), carat ( the weigth), Cut ( the kind of cut can impact a lot so it is important to understand the 5 cuts we have), color ( from 'D' to 'Z' which 'D' is the purest one and 'Z' the 'dirty one'), Clarity ( the imperfections of the diamond), Depth, Table ( the top part of the diamond) and X Y Z the different size.

In [3]:
diamonds_test.head()

   Unnamed: 0  carat        cut color clarity  depth  table     x     y     z
0           0   0.30      Ideal     H     SI2   60.0   56.0  4.41  4.43  2.65
1           1   0.34      Ideal     D      IF   62.1   57.0  4.52  4.46  2.79
2           2   1.57  Very Good     I     VS2   60.3   58.0  7.58  7.55  4.56
3           3   0.31      Ideal     H     VS2   61.8   57.0  4.32  4.36  2.68
4           4   1.51       Good     I    VVS1   64.0   60.0  7.26  7.21  4.63

In [4]:
diamonds_test.describe()

,Unnamed: 0,carat,depth,table,x,y,z
count,13449.00000,13449.000000,13449.000000,13449.000000,13449.000000,13449.000000,13449.000000
mean,6724.00000,0.804164,61.741081,57.451528,5.746539,5.747961,3.549445
std,3882.53622,0.481020,1.446875,2.228779,1.126590,1.118730,0.738035
min,0.00000,0.200000,52.300000,49.000000,3.730000,3.680000,0.000000
25%,3362.00000,0.400000,61.000000,56.000000,4.730000,4.730000,2.920000
50%,6724.00000,0.710000,61.800000,57.000000,5.710000,5.720000,3.530000
75%,10086.00000,1.050000,62.500000,59.000000,6.550000,6.540000,4.040000
max,13448.00000,5.010000,73.600000,70.000000,10.740000,10.540000,31.800000

Inspect nulls [0 nulls]

In [5]:
diamonds_test.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
x             0
y             0
z             0
dtype: int64

What kind of types we have so far?

In [6]:
diamonds_test.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
x             float64
y             float64
z             float64
dtype: object

Drop not relevant information X,Y,Z [Size similar weigth so we don't need it] and index

In [7]:
diamonds_test.drop(['Unnamed: 0','x','y','z'],axis=1,inplace=True)

Let's convert the object data to categorical ordinal

In [8]:
def categoricalOrdinal(x):
    for key,value in cat_ord.items():
        if x==key:
            x=value
            return x
    return x

1. Transform color

In [9]:
cat_ord = {
    "D":1, 
    "E":2, 
    "F":3, 
    "G":4, 
    "H":5, 
    "I":6, 
    "J":7
}

In [10]:
diamonds_test.color = diamonds_test.color.apply(categoricalOrdinal)

2. Transform Clarity:

In [11]:
cat_ord = {
    "IF":1, 
    "VVS1":2, 
    "VVS2":3, 
    "VS1":4, 
    "VS2":5, 
    "SI1":6, 
    "SI2":7, 
    "I1":8
}
diamonds_test.clarity = diamonds_test.clarity.apply(categoricalOrdinal)

3. Transform Cut:

In [12]:
cat_ord = {
    "Ideal":1, 
    "Premium":2, 
    "Very Good":3, 
    "Good":4, 
    "Fair":5
}
diamonds_test.cut = diamonds_test.cut.apply(categoricalOrdinal)

Let's see the result:

In [13]:
diamonds_test.head()

   carat  cut  color  clarity  depth  table
0   0.30    1      5        7   60.0   56.0
1   0.34    1      1        1   62.1   57.0
2   1.57    3      6        5   60.3   58.0
3   0.31    1      5        5   61.8   57.0
4   1.51    4      6        2   64.0   60.0

### Dataset ready and clean

Saving dataset as test_clean.csv in Output, Clean

In [14]:
diamonds_test.to_csv('Output/Clean/test_clean.csv')