In [1]:
import pandas as pd
from ObjectToInt import modificaciones

Import CSV diamonds_train

In [ ]:
diamonds_train = pd.read_csv('Input/diamonds_train.csv')

## Checking data

It is the same data as before so lets go ahead to clean and changeing types

In [2]:
print(diamonds_train.shape)
diamonds_train.head()

(40345, 11)

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997

In [3]:
diamonds_train.describe()

,Unnamed: 0,carat,depth,table,x,y,z,price
count,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000,40345.000000
mean,20172.000000,0.795652,61.750413,57.460302,5.726106,5.730217,3.535136,3924.089924
std,11646.742642,0.470806,1.424219,2.235333,1.118690,1.148584,0.693662,3982.000515
min,0.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000,326.000000
25%,10086.000000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000,948.000000
50%,20172.000000,0.700000,61.800000,57.000000,5.690000,5.710000,3.520000,2395.000000
75%,30258.000000,1.040000,62.500000,59.000000,6.540000,6.530000,4.030000,5313.000000
max,40344.000000,4.010000,79.000000,95.000000,10.020000,58.900000,8.060000,18818.000000

Inspect nulls

In [5]:
diamonds_train.isnull().sum()

Unnamed: 0    0
carat         0
cut           0
color         0
clarity       0
depth         0
table         0
x             0
y             0
z             0
price         0
dtype: int64

inspect types of data

In [7]:
diamonds_train.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
x             float64
y             float64
z             float64
price           int64
dtype: object

inspect non numeric data

In [9]:
diamonds_train['cut'].value_counts()

Ideal        16090
Premium      10339
Very Good     9036
Good          3694
Fair          1186
Name: cut, dtype: int64

< Ideal - Premium - Very Good - Good - Fair >

In [11]:
diamonds_train['clarity'].value_counts()

SI1     9751
VS2     9178
SI2     6828
VS1     6101
VVS2    3858
VVS1    2714
IF      1362
I1       553
Name: clarity, dtype: int64

< IF - VVS1 - VVS2 - VS1 - VS2 - SI1 - SI2 - I1 >

In [13]:
diamonds_train['color'].value_counts()

G    8499
E    7351
F    7130
H    6234
D    5074
I    4023
J    2034
Name: color, dtype: int64

< D - E - F - G - H - I - J - K- L - M >

In [16]:
diamonds_train.drop(['Unnamed: 0'],axis=1,inplace=True)

In [31]:
diamonds_train.head()

   carat  cut  color  clarity  depth  table  price
0   1.21    1      5        5   63.0   57.0   6134
1   0.28    3      1        3   64.0   56.0    532
2   0.42    2      3        4   61.2   58.0   1103
3   0.26    1      5        1   61.1   57.0    600
4   1.10    4      4        6   63.4   57.0   4997

Transform object type to categorical ordinal ( cut - color - clarity)

In [18]:
def categoricalOrdinal(x):
    for key,value in cat_ord.items():
        if x==key:
            x=value
            return x
    return x

1. Transform Color:

In [20]:
cat_ord = {
    "D":1, 
    "E":2, 
    "F":3, 
    "G":4, 
    "H":5, 
    "I":6, 
    "J":7
}
diamonds_train.color = diamonds_train.color.apply(categoricalOrdinal)

2. Transform Clarity:

In [22]:
cat_ord = {
    "IF":1, 
    "VVS1":2, 
    "VVS2":3, 
    "VS1":4, 
    "VS2":5, 
    "SI1":6, 
    "SI2":7, 
    "I1":8
}
diamonds_train.clarity = diamonds_train.clarity.apply(categoricalOrdinal)

3. Transform Cut:

In [24]:
cat_ord = {
    "Ideal":1, 
    "Premium":2, 
    "Very Good":3, 
    "Good":4, 
    "Fair":5
}
diamonds_train.cut = diamonds_train.cut.apply(categoricalOrdinal)

Check new modification head:

In [26]:
diamonds_train.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.21    1      5        5   63.0   57.0  6.73  6.70  4.23   6134
1   0.28    3      1        3   64.0   56.0  4.14  4.17  2.66    532
2   0.42    2      3        4   61.2   58.0  4.86  4.82  2.96   1103
3   0.26    1      5        1   61.1   57.0  4.16  4.12  2.53    600
4   1.10    4      4        6   63.4   57.0  6.52  6.55  4.14   4997

Drop not relevant information X,Y,Z [Size similar weigth so we don't need it]

In [28]:
diamonds_train.drop(['x','y','z'],axis=1,inplace=True)

save dataset to new csv file

In [30]:
diamonds_train.to_csv('Output/Clean/train_clean.csv')