In [1]:
import pandas as pd
import joblib

## Loading CSV's

In [2]:
test_clean = pd.read_csv('../Clean/test_clean.csv')
train_clean = pd.read_csv("../Clean/train_clean.csv") 
best_model = joblib.load('../Models/GBR.sav')

Check our final model

In [3]:
best_model

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.01, loss='ls', max_depth=8,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=10, min_samples_split=25,
                          min_weight_fraction_leaf=0.0, n_estimators=750,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [4]:
price = best_model.predict(test_clean)

Adding the PRICE column

In [6]:
test_clean["price"] = price

Creating a DF with just the two columns we need

In [10]:
test_clean['id'] = test_clean['Unnamed: 0']

In [12]:
test_clean.head()

   Unnamed: 0  carat  cut  color  clarity  depth  table         price  id
0           0   0.30    1      5        7   60.0   56.0    428.389073   0
1           1   0.34    1      1        1   62.1   57.0   1466.453606   1
2           2   1.57    3      6        5   60.3   58.0   9854.497081   2
3           3   0.31    1      5        5   61.8   57.0    549.401027   3
4           4   1.51    4      6        2   64.0   60.0  10339.183989   4

In [16]:
submission = test_clean[['id',"price"]]
submission.head()

   id         price
0   0    428.389073
1   1   1466.453606
2   2   9854.497081
3   3    549.401027
4   4  10339.183989

In [28]:
pd.DataFrame(test_clean, columns=["id", "price"]).to_csv('../Submission/prediccions.csv',index=False)

## Export the dataset to Kaggle

In [24]:
submission.to_csv("../Submission/test_ready.csv")